.Contact {
    min-height: calc(100*var(--vh));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../assets/pictures/contact-with-picture-and-opacity-pexels-jess-bailey-designs-1558690.jpg');
    
    background-position: right;
    @media only screen and (max-width: 600px) and (max-height: 750px) {
        background-position:  -410px 0;
        background-size: 1000px;
    }
    }

  


    .contactDetails {
        position: absolute;

        a {
            text-decoration: none;
            color: #005db6;
        }

        a:hover {
            font-size: 26px;
        }
    }
}