.Projects {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: var(--policeBlue);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project {
        --size: 50vw;
        width: var(--size);
        height: var(--size);
        margin: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        text-decoration: none;
        
        .projectLink {
            color: white;
            text-shadow: 0 0 10px var(--policeBlue);
            font-weight: bold;
            font-size: 3vw;
        }

        .background {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            transition: transform .5s;
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
            -ms-transform: translateZ(0); /* IE 9 */
            -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0);
        }

        &.pricing-component .background {
            background: url('../assets/pictures/lkilp.github.io_pricing-component_.png');
            background-size: cover;
        }

        &.crowdfund .background {
            background: url('../assets/pictures/lkilp.github.io_crowdfund_.png');
            background-size: cover;
        }

        &.quiz .background {
            background: url('../assets/pictures/lkilp.github.io_quiz_.png');
            background-size: cover;
        }

        &.blogr .background {
            background: url('../assets/pictures/lkilp.github.io_blogr_.png');
            background-size: cover;
        }

        &.jammming .background {
            background: url('../assets/pictures/lkilp.github.io_jammming.png');
            background-size: cover;
        }

        &.huddle .background {
            background: url('../assets/pictures/lkilp.github.io_huddle_ .png');
            background-size: cover;
        }

        &.swimster .background {
            background: url('../assets/pictures/lkilp.github.io_swimster_.png');
            background-size: cover;
        }

        &.leaf .background {
            background: url('../assets/pictures/lkilp.github.io_leaf_.png');
            background-size: cover;
        }

        &.memory .background {
            background: url('../assets/pictures/localhost_3000_ (2).png');
            background-size: cover;
        }

        &.fylo .background {
            background: url('../assets/pictures/lkilp.github.io_fylo_.png');
            background-size: cover;
        }
    }
    .project:hover {
        .background {
            opacity: 1;
            filter: none;
            transform: scale(1.05);
        }
        .projectLink {
            display: none;
        }
    }

    @media screen and (min-width: 800px) {
        .project-examples {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .project {
            --size: 40vw;
            width: var(--size);
            height: var(--size);
        }
    }

    @media only screen and (max-width: 600px) {
        .project {
            --size: 80vw;
            width: var(--size);
            height: var(--size);
            margin: 30px 0;
        }
    }

    @media screen and (max-width: 475px) {
        .project {
            .background {
                opacity: 1;
                transition: none;
            }
        }

        .project:hover {
            .background {
                opacity: 1;
                transform: none;
            }
        }

        .projectLink {
            display: none;
        }
        
    }
}