.Story {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        padding: 20px;
        font-size: 18px;
        width: 80vw;
        text-align: justify;
        line-height: 1.5em;
        
    }
}